# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# Docker files
*.tar
*.img

# Ignore npm lock file (if not using exact versions)
package-lock.json

# System files
.DS_Store
